@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

// font-family: 'Barlow', sans-serif;
// font-family: 'Jost', sans-serif;
$main-font:'Barlow', sans-serif;
$secondary-font:'Jost', sans-serif;

@mixin font-all($font-family, $font-size, $font-weight) {
    font-family: $font-family;
    font-size: $font-size + px;
    font-weight: $font-weight;
}

@mixin text-all($color, $text-transfrom, $line-height){
    color: $color;
    text-transform: $text-transfrom;
    line-height:$line-height + px;
}